* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* colors */
    --dark-purple: #1C0A32;
    --violet: #371961;
    --popstar-pink: #C65060;
    --black-olive: #3C3C3C;
    --anti-flash-white: #F2F2F2;
    --light-purple: #8D7E9D;
    --tankgray: #808080;
    --black: #1D1C2B;
    --engine-gray: #F2F2F2;
    --engine-light-gray: #EDEBEB;
    --yellow: #FDD840;
    /* shapes */
    --circle: 50%;
}


html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Lobster', cursive;
    background: var(--dark-purple);
}

.stars {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: var(--circle);
  background: var(--light-purple);
  transform-origin: center;
  animation: starsAnimation 4s infinite;
}


.box {
    position: relative;
    width: 447px;
    height: 978px;
    margin: auto;
    margin-top: -100%;
    background: none;
    z-index: 3;
    animation: rocket-blast 10s 1;
}

.blast {
    position: absolute;
    left: 47%;
    width: 6%;
    height: 100%;
    margin-top: -2.5%;
    background: var(--yellow);
    z-index: 3;
    animation: blast-hide 10s 1;
    animation-fill-mode: forwards;
}

.tank {
    position: absolute;
    width: 83.6689038%;
    height: 87.9631902%;
    left: 8.1655481%;
    border-top-left-radius: var(--circle);
    border-top-right-radius: var(--circle);
    background: var(--popstar-pink);
    overflow: hidden;
}
/* original height: 860.28 */
.tank-stripe {
    position: absolute;
    top: 35%;
    width: 100%;
    height: 1.1624122%;
    background: var(--dark-purple);
}

.rocket-fule-left {
    position: absolute;
    bottom: 10%;
    width: 23.9373602%;
    height: 60.9406953%;
    border-top-left-radius: var(--circle);
    border-top-right-radius: var(--circle);
    background: var(--tankgray);
    overflow: hidden;
}

.rocket-fule-right {
    position: absolute;
    right: 0;
    bottom: 10%;
    width: 23.9373602%;
    height: 60.9406953%;
    border-top-left-radius: var(--circle);
    border-top-right-radius: var(--circle);
    background: var(--tankgray);
    overflow: hidden;
}

/* original height: 596 */
.fule-stripe-top {
    position: absolute;
    top: 30%;
    width: 100%;
    height: 1.2080537%;
    background: var(--black);
}

.fule-stripe-mid {
    position: absolute;
    top: 33%;
    width: 100%;
    height: 1.2080537%;
    background: var(--black);
}

.square {
    position: absolute;
    top: 50%;
    left: 36.44859815%;
    width: 27.1028037%;
    height: 5.704698%;
    background: var(--black);
}

.fule-stripe-bottom {
    position: absolute;
    bottom: 13%;
    width: 100%;
    height: 1.2080537%;
    background: var(--black);
}
/*  width: 447
    height: 825 */
.rocket {
    position: absolute;
    width: 100%;
    height: 84.3558282%;
    bottom: 0;
}

.top-rocket {
    position: absolute;
    width: 44.7427293%;
    height: 18.3018182%;
    left: 27.62863535%;
    background: var(--black-olive);
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    -webkit-clip-path: polygon(50% 0, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0, 0% 100%, 100% 100%);
}

/* origin width: 200
          height: 493*/
.mid-rocket {
    position: absolute;
    width: 44%;
    height: 59.7575758%;
    top: 18.3018182%;
    left: 28%;
    background: var(--anti-flash-white);
}

.rocket-stripe {
    position: absolute;
    width: 60%;
    height: 2.0283976%;
    top: 15%;
    left: 20%;
    background: var(--popstar-pink);
}

.rocket-line-mid {
    position: absolute;
    width: 3%;
    height: 91.4219067%;
    top: 30%;
    left: 48.5%;
    background: var(--popstar-pink);
    z-index: 3;
}

.bottom-rocket {
    position: absolute;
    width: 90%;
    height: 18.6666667%;
    bottom: 5%;
    left: 5%;
    background: var(--anti-flash-white);
    -webkit-clip-path: polygon(28% 0, 72% 0, 100% 100%, 0% 100%);
    clip-path: polygon(28% 0, 72% 0, 100% 100%, 0% 100%);
    overflow: hidden;
}

.rocket-line-bottom {
    position: absolute;
    width: 100%;
    height: 22.0550078%;
    bottom: 0;
    background: var(--black-olive);
}
/*
    parent size
    width: 447
    height: 825 */
.rocket-engine-left {
    position: absolute;
    width: 17.6733781%;
    height: 11.030303%;
    bottom: 0;
    left: 20%;
    border-top-left-radius: var(--circle);
    border-top-right-radius: var(--circle);
    background: var(--engine-gray);
}

.rocket-engine-right {
    position: absolute;
    width: 17.6733781%;
    height: 11.030303%;
    bottom: 0;
    right: 20%;
    border-top-left-radius: var(--circle);
    border-top-right-radius: var(--circle);
    background: var(--engine-gray);
}

.light-purple-cloud-1 {
    position: absolute;
    bottom: -10%;
    left: -10%;
    width: 20%;
    height: 40%;
    border-radius: var(--circle);
    background: var(--violet);
    z-index: 2;
}

.light-purple-cloud-2 {
    position: absolute;
    bottom: -20%;
    left: 5%;
    width: 25%;
    height: 55%;
    border-radius: var(--circle);
    background: var(--violet);
    z-index: 2;
}

.light-purple-cloud-3 {
    position: absolute;
    bottom: -23%;
    left: 20%;
    width: 25%;
    height: 55%;
    border-radius: var(--circle);
    background: var(--violet);
    z-index: 2;
}

.light-purple-cloud-4 {
    position: absolute;
    bottom: -9%;
    left: 40%;
    width: 30%;
    height: 55%;
    border-radius: var(--circle);
    background: var(--violet);
    z-index: 2;
}

.light-purple-cloud-5 {
    position: absolute;
    bottom: -20%;
    left: 60%;
    width: 30%;
    height: 55%;
    border-radius: var(--circle);
    background: var(--violet);
    z-index: 2;
}

.light-purple-cloud-6 {
    position: absolute;
    bottom: -20%;
    left: 80%;
    width: 30%;
    height: 55%;
    border-radius: var(--circle);
    background: var(--violet);
    z-index: 2;
}

.white-cloud-1 {
    position: absolute;
    bottom: -10%;
    left: -10%;
    width: 20%;
    height: 20%;
    border-radius: var(--circle);
    background: var(--anti-flash-white);
    z-index: 3;
}

.white-cloud-2 {
    position: absolute;
    bottom: -10%;
    left: 6%;
    width: 20%;
    height: 30%;
    border-radius: var(--circle);
    background: var(--anti-flash-white);
    z-index: 3;
}

.white-cloud-3 {
    position: absolute;
    bottom: -15%;
    left: 16%;
    width: 25%;
    height: 30%;
    border-radius: var(--circle);
    background: var(--anti-flash-white);
    z-index: 3;
}

.white-cloud-4 {
    position: absolute;
    bottom: -5%;
    left: 26%;
    width: 35%;
    height: 30%;
    border-radius: var(--circle);
    background: var(--anti-flash-white);
    z-index: 3;
}

.white-cloud-5 {
    position: absolute;
    bottom: -15%;
    left: 50%;
    width: 25%;
    height: 30%;
    border-radius: var(--circle);
    background: var(--anti-flash-white);
    z-index: 3;
}

.white-cloud-6 {
    position: absolute;
    bottom: -25%;
    left: 70%;
    width: 15%;
    height: 30%;
    border-radius: var(--circle);
    background: var(--anti-flash-white);
    z-index: 3;
}

.white-cloud-7 {
    position: absolute;
    bottom: -15%;
    right: -5%;
    width: 25%;
    height: 30%;
    border-radius: var(--circle);
    background: var(--anti-flash-white);
    z-index: 3;
}

footer {
  position: absolute;
  bottom: 1%;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: .9rem;
  font-family: helvetica, sans-serif;
  color: var(--violet);
  z-index: 5;
}

.footer-links a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: var(--violet);
}

.footer-links a:hover {
  color: var(--light-purple);
  font-weight: 500;
}

.title {
    position: absolute;
    width: 100%;
    margin: auto;
    top: 20%;
    left: auto;
    right: auto;
    text-align: center;
    font-size: 5.5rem;
    text-transform: capitalize;
    z-index: 4;
    color: var(--yellow);
    opacity: 0;
    animation: reveal-text 2s 1;
    animation-delay: 5.1s;
    animation-fill-mode: forwards;
}

/* Animation */
@keyframes starsAnimation {
    0%{
        transform: scale(1);
    }
    50% {
        transform: scale(.6);
    }
    100% {
        ransform: scale(1);
    }
}

@keyframes rocket-blast {
    0%{
        margin-top: 100%;
    }
    100% {
        margin-top: -100%;
    }
}

@keyframes blast-hide {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

@keyframes reveal-text {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Media Queries */
@media all and (max-width: 450px) {
    .box {
        width: 307px;
        height: 838px;
    }
}
