* {
  box-sizing: border-box;
}

body {
  background: #F4E9DF;
}

.box {
  position: relative;
  width: 500px;
  height: 600px;
  background: none;
  display: block;
  margin: 12% auto 0;
}

.monitor {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 10px solid #CDA874;
}

.base {
  position: absolute;
  bottom: 0%;
  left: 12.5%;
  width: 75%;
  height: 15%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 10px solid #CDA874;
  border-top: none;
}

.screen {
  position: absolute;
  top: 10%;
  left: 7.5%;
  width: 85%;
  height: 60%;
  border-radius: 10px;
  border: 10px solid #CDA874;
}

.button-left {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 15%;
  height: 8%;
  border-radius: 10px;
  border: 10px solid #CDA874;
}

.button-right {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 15%;
  height: 8%;
  border-radius: 10px;
  border: 10px solid #CDA874;
}

.eye-left {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 5%;
  height: 15%;
  background: #CDA874;
  border-radius: 50px;
  transition: all .5s;
  animation: blink 2s infinite;
}

.eye-right {
  position: absolute;
  top: 20%;
  right: 25%;
  width: 5%;
  height: 15%;
  background: #CDA874;
  border-radius: 50px;
  transition: all .5s;
  animation: blink 2s infinite;
}

.nose {
  position: absolute;
  top: 20%;
  left: 42%;
  width: 12%;
  height: 35%;
  border: 10px solid #CDA874;
  border-radius: 5px;
  border-top: none;
  border-left: none;
}

.smirk {
  position: absolute;
  bottom: 15%;
  left: 30%;
  width: 40%;
  height: 20%;
  border: 10px solid #CDA874;
  border-radius: 5px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

@keyframes blink {
  0% {
    height: 15%;
    top: 20%;
  }
  20% {
    height: 0;
    top: 35%;
  }
  25% {
    height: 15%;
    top: 20%;
  }
  100% {
    height: 15%;
    top: 20%;
  }
}
