* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lato', sans-serif;
    text-align: center;
    min-height: 100vh;
    transition: all 0.5s;
}
header {
    flex: 1;
}

main {
    margin: 10rem auto;
    max-width: 960px;
    flex: 2;
}

footer {
    text-align: center;
    margin: 3rem auto 4rem;
    flex: 1;
    letter-spacing: 1px;
    font-size: 1.2rem;
}

.light-footer {
    color: #ccc;
}

.dark-footer {
    color: rgb(39, 28, 70);
}

.light {
    background: rgb(234,240,239);
    background: linear-gradient(90deg, rgba(234,240,239,1) 0%, rgba(218,227,227,1) 100%);
}

.light-container {
    background: rgb(233, 240, 238);
    background: linear-gradient(90deg, rgb(233, 240, 238) 0%, rgba(218,227,227,1) 100%);
    box-shadow: -10rem 0 20rem rgba(255,255,255,1),
                10rem 0 20rem rgba(0,0,0,0.1);
}

.light-clock {
    background: rgb(241, 247, 246);
    box-shadow: 0 0 5rem rgba(0,0,0,0.2);
}

.dark {
    background: rgb(20,8,50);
    background: linear-gradient(90deg, rgba(20,8,50,1) 0%, rgba(11,9,16,1) 100%);
}

.dark-container {
    background: rgb(29, 21, 54);
    box-shadow: -10rem 0 20rem rgba(148, 48, 89, 0.1),
                10rem 0 20rem rgba(0,0,0,0.3);
}

.dark-clock {
    background: #16102C;
    box-shadow: 0 0 2.5rem .5rem rgba(255,255,255,0.05);
}

.hide {
   opacity: 0;
}

.container {
    position: relative;
    width: 45rem;
    height: 45rem;
    border-radius: 50%;
    overflow: hidden;
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5.75rem;
    margin-top: 4rem;
    padding-left: 5rem;
}

.theme-toggler {
    position: absolute;
    top: 5%;
    right: 10%;
    color: #fff;
    font-size: 1.75rem;
}

.theme-toggler button{
    position: relative;
    top: -0.4rem;
    background-color: transparent;
    border-radius: 50px;
    padding: 1rem;
    width: 5rem;
    height: 3rem;
    outline: none;
    border: 1px solid #ccc;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

.btn-dark-container {
    color: rgb(39, 28, 70);
}

.theme-toggler button.btn-dark  {
    border: 1px solid rgb(39, 28, 70);
}

.toggle-circle {
    position: absolute;
    top: 7.1%;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: all 0.3s;
}

.toggle-circle-light {
    background: #fff;
    right: 0;
}

.toggle-circle-dark {
    background: rgb(39, 28, 70);;
    left: 0;
}


.hour-timer {
    margin-right: 1rem;
}

.minute-timer {
    margin-left: 1rem;
}

.am, .pm {
    text-transform: uppercase;
    color: #fff;
    margin-left: 1.5rem;
    font-size: 2.25rem;
    display: block;
    opacity: 0;
    transition: all 0.3s;
    font-weight: 700;
}

.dark-time-indicator {
    color: #FD1A77;
}

.hour-timer, .minute-timer {
    color: #fff;
}

.view-time-am-pm {
    opacity: 1
}

.seconds-container {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.seconds {
    position: absolute;
    width: 2rem;
    height: 0.3rem;
    background: #fff;
    transition: all 0.9s;
    transform: rotate(90deg);
}

/* clock face styling */
.clock {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    /* border: 1px solid white; */
}

.hand {
    position: absolute;
    width: 50%;
    height: 1%;
    background: #16102C;
    transform-origin: 100%;
    transition: all 0.07s;
    transform: rotate(90deg);
}

.dark-handle {
    background: #fff;
}

/* height -> 1% */
.hour-hand {
    top: 49.5%;
    left: 14%;
    width: 35%;
    height: 2%;
}

.minute-hand {
    width: 45%;
    height: 1.5%;
    left: 5%;
    top: 49.25%;
    background: rgb(217, 224, 222);
}

.second-hand {
    width: 50%;
    height: 1%;
    top: 49.5%;
    left: -0.3%;
    background: #FD1A77;
}

.circle-clock {
    position: absolute;
    left: 47%;
    top: 48%;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #FD1A77;
}

/* seconds tick styles */

.active-second {
    background: #FD1A77;
}

div[data-key="0"] {
    left: 47%;
    top: 3.5%;
}

div[data-key="1"] {
    right: 44%;
    top: 3.5%;
    transform: rotate(-86deg);
}

div[data-key="2"] {
    right: 40%;
    top: 4%;
    transform: rotate(-82deg);
}

div[data-key="3"] {
    right: 35%;
    top: 5%;
    transform: rotate(-75deg);
}

div[data-key="4"] {
    right: 31%;
    top: 6.5%;
    transform: rotate(-67deg);
}

div[data-key="5"] {
    right: 26.4%;
    top: 8.5%;
    transform: rotate(-58deg);
}

div[data-key="6"] {
    right: 22.8%;
    top: 10.5%;
    transform: rotate(-51deg);
}

div[data-key="7"] {
    right: 19.5%;
    top: 13.5%;
    transform: rotate(-45deg);
}

div[data-key="8"] {
    right: 15.5%;
    top: 17%;
    transform: rotate(-35deg);
}

div[data-key="9"] {
    right: 12.5%;
    top: 21%;
    transform: rotate(-30deg);
}

div[data-key="10"] {
    right: 9.5%;
    top: 25%;
    transform: rotate(-25deg);
}

div[data-key="11"] {
    right: 7%;
    top: 29%;
    transform: rotate(-20deg);
}

div[data-key="12"] {
    right: 5%;
    top: 33.5%;
    transform: rotate(-15deg);
}

div[data-key="13"] {
    right: 3.5%;
    top: 38.5%;
    transform: rotate(-15deg);
}

div[data-key="14"] {
    right: 2.9%;
    top: 43.5%;
    transform: rotate(-5deg);
}

div[data-key="15"] {
    right: 2.3%;
    top: 48.5%;
    transform: rotate(0deg);
}

div[data-key="16"] {
    right: 2.4%;
    bottom: 46.5%;
    transform: rotate(5deg);
}

div[data-key="17"] {
    right: 2.5%;
    bottom: 42%;
    transform: rotate(10deg);
}

div[data-key="18"] {
    right: 3.6%;
    bottom: 37.5%;
    transform: rotate(12deg);
}

div[data-key="19"] {
    right: 4.9%;
    bottom: 33.5%;
    transform: rotate(16deg);
}

div[data-key="20"] {
    right: 6.3%;
    bottom: 29.5%;
    transform: rotate(20deg);
}

div[data-key="21"] {
    right: 7.7%;
    bottom: 25.5%;
    transform: rotate(24deg);
}

div[data-key="22"] {
    right: 10.1%;
    bottom: 21.75%;
    transform: rotate(28deg);
}

div[data-key="23"] {
    right: 13.5%;
    bottom: 17.5%;
    transform: rotate(40deg);
}

div[data-key="24"] {
    right: 16.8%;
    bottom: 14%;
    transform: rotate(48deg);
}

div[data-key="25"] {
    right: 21.4%;
    bottom: 10.5%;
    transform: rotate(55deg);
}

div[data-key="26"] {
    right: 26%;
    bottom: 7.75%;
    transform: rotate(66deg);
}

div[data-key="27"] {
    right: 31%;
    bottom: 5.5%;
    transform: rotate(74deg);
}

div[data-key="28"] {
    right: 36%;
    bottom: 4.5%;
    transform: rotate(82deg);
}

div[data-key="29"] {
    right: 41%;
    bottom: 3.5%;
    transform: rotate(86deg);
}

div[data-key="30"] {
    top: 96%;
    left: 50%;
}

div[data-key="31"] {
    left: 45.5%;
    bottom: 3.5%;
    transform: rotate(-86deg);
}

div[data-key="32"] {
    left: 41%;
    bottom: 3.9%;
    transform: rotate(-82deg);
}

div[data-key="33"] {
    left: 37%;
    bottom: 4%;
    transform: rotate(-75deg);
}

div[data-key="34"] {
    left: 32%;
    bottom: 5.5%;
    transform: rotate(-67deg);
}

div[data-key="35"] {
    left: 28%;
    bottom: 7%;
    transform: rotate(-60deg);
}

div[data-key="36"] {
    left: 24%;
    bottom: 9%;
    transform: rotate(-54deg);
}

div[data-key="37"] {
    left: 20%;
    bottom: 12%;
    transform: rotate(-47deg);
}

div[data-key="38"] {
    left: 16%;
    bottom: 15.5%;
    transform: rotate(-40deg);
}

div[data-key="39"] {
    left: 13%;
    bottom: 19%;
    transform: rotate(-35deg);
}

div[data-key="40"] {
    left: 10%;
    bottom: 23%;
    transform: rotate(-30deg);
}

div[data-key="41"] {
    left: 7%;
    bottom: 28%;
    transform: rotate(-25deg);
}

div[data-key="42"] {
    left: 4.5%;
    bottom: 34%;
    transform: rotate(-15deg);
}

div[data-key="43"] {
    left: 2.75%;
    bottom: 40%;
    transform: rotate(-5deg);
}

div[data-key="44"] {
    left: 2%;
    bottom: 46%;
    transform: rotate(-1deg);
}

div[data-key="45"] {
    left: 2%;
    top: 48%;
    transform: rotate(0deg);
}

div[data-key="46"] {
    left: 2.5%;
    top: 43%;
    transform: rotate(5deg);
}

div[data-key="47"] {
    left: 3.3%;
    top: 38%;
    transform: rotate(10deg);
}

div[data-key="48"] {
    left: 4.5%;
    top: 33%;
    transform: rotate(15deg);
}

div[data-key="49"] {
    left: 6.5%;
    top: 28%;
    transform: rotate(25deg);
}

div[data-key="50"] {
    left: 8.5%;
    top: 24%;
    transform: rotate(30deg);
}

div[data-key="51"] {
    left: 11.5%;
    top: 20%;
    transform: rotate(35deg);
}

div[data-key="52"] {
    left: 15%;
    top: 16.5%;
    transform: rotate(45deg);
}

div[data-key="53"] {
    left: 18.7%;
    top: 13.5%;
    transform: rotate(55deg);
}

div[data-key="54"] {
    left: 22%;
    top: 11%;
    transform: rotate(58deg);
}

div[data-key="55"] {
    left: 26%;
    top: 8.5%;
    transform: rotate(60deg);
}

div[data-key="56"] {
    left: 30%;
    top: 6.7%;
    transform: rotate(67deg);
}

div[data-key="57"] {
    left: 34%;
    top: 5.5%;
    transform: rotate(75deg);
}

div[data-key="58"] {
    left: 38.5%;
    top: 4.5%;
    transform: rotate(82deg);
}

div[data-key="59"] {
    left: 43%;
    top: 3.75%;
    transform: rotate(86deg);
}

.dark-handel {
    background: rgb(241, 247, 246);
}

/* dark seconds */
.dark-seconds-test {
    /* z-index: 44; */
    --x-start: 50%;
    --y-start: 0;
    --x-end: 61%;
    --y-end: 0%;
    position: absolute;
    /* top: 5%;
    left: 5%; */
    width: 100%;
    height: 100%;
    background: #FD1A77;
    -webkit-clip-path: polygon(var(--x-start) var(--y-start), 50% 50%, var(--x-end) var(--y-end));
    clip-path: polygon(var(--x-start) var(--y-start), 50% 50%, var(--x-end) var(--y-end));
}

.dark-seconds {
    position: absolute;
    /* border: 1px solid white; */
    z-index: 49;
}

svg {
    width: 450px;
    height: 450px;
    transform: rotateY(180deg) rotateZ(-90deg) scaleY(-1);
}

circle {
    r: calc((103%/2) - (20 * 2));
    cx: 50%;
    cy: 50%;
    stroke:  #FD1A77;
    stroke-width: 20;
    fill: transparent;
    stroke-dasharray: 268%;
    stroke-dashoffset: 0px;
    /* stroke-linecap: round; */
    /* animation: countdown 50s linear infinite forwards; */
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  /* transform: rotate(-90deg); */
  transform-origin: 50% 50%;
}

@keyframes countdown {
     from {
    stroke-dashoffset: 268%;
  }
  to {
    stroke-dashoffset:  0;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: red;
  }
}