/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s;
}

:root {
    /* sizing variables */
    --face-width: 50%;
    --face-height: 75%;
    --ear-width: 30%;
    --ear-height: 30%;
    --eye-container-height: 20%;
    --eye-top: 50%;
    --eye-height: 39%;

    /* color variables */
    --skin-color: #FFC79E;
    --ear-color: #F39570;
    --inner-ear-color: #C65745;
    --nose-color: #F39570;
    --nose-shade-color: #E97660;
    --eye-color: #262425;
    --eye-brow-color: #262425;
    --blush-color: #F39570;
    --hair-color: #1C1E20;
    --mouth-color: #E97660;

    /* scale variables */
    --eye-scale: 0.8;
    --ear-scale: 1;
    --face-scale: 1;

    /* visibility variablles */
    --blush: display;
    --hair: display;
    --hair-front: display;
}

html {
    font-size: 10;
    min-height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: #F3EFEA;
    font-family: Helvetica , Arial, sans-serif;
}

header {
    max-width: 960px;
    margin: 2rem auto;
}

header h1 {
    font-family: 'Vibur', cursive;
    font-size: 5rem;
    text-align: center;
}

header p {
    text-align: center;
    font-size: 1.25rem;
    color: #bbb;
    width: 30rem;
    margin: auto;
    font-weight: 300;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 90%;
    max-width: 960px;
    margin: 0 auto;
    flex: 1;
}

footer {
    text-align: center;
    margin: 4rem auto 1rem;
    flex: 1;
    letter-spacing: 1px;
    font-size: 1rem;
    font-weight: 300;
    color: #bbb;
}

/* controls styling */
.controls {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    text-transform: uppercase;
}

.controls input {
    margin-bottom: 1.5rem;
}

/* container stylling */
.container {
    margin: auto;
    position: relative;
    display: block;
    width: 500px;
    height: 500px;
    background: transparent;
}


/* ear styling */
.ear-left {
    position: absolute;
    bottom: 35%;
    left: -17%;
    width: var(--ear-width);
    height: var(--ear-height);
    background: var(--ear-color);
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(-15deg) scale(var(--ear-scale));
}

.inner-ear-l {
    position: absolute;
    bottom: 1%;
    left: 40.5%;
    background: var(--inner-ear-color);
    width: 4%;
    height: 90%;
    transform: rotate(-10deg);
}

.ear-right {
    position: absolute;
    bottom: 35%;
    right: -17%;
    width: var(--ear-width);
    height: var(--ear-height);
    background: var(--ear-color);
    border-radius: 50%;
    overflow: hidden;
    transform: rotate(15deg) scale(var(--ear-scale));
}

.inner-ear-r {
    position: absolute;
    bottom: 1%;
    right: 40.5%;
    background: var(--inner-ear-color);
    width: 4%;
    height: 90%;
    transform: rotate(10deg);
}


/* face style */
.face {
    position: absolute;
    bottom: 5%;
    left: 25%;
    width: var(--face-width);
    height: var(--face-height);
    background: var(--skin-color);
    border-radius: 48%;
    transform-origin: center;
    transform: scale(var(--face-scale));
}

.face-copy {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--skin-color);
    border-radius: 48%;
}
/* nose styling */
.nose {
    position: absolute;
    left: 40%;
    top:  35%;
    width: 20%;
    height: 30%;
    background: var(--nose-color);
    -webkit-clip-path: polygon(50% 0%, 10% 100%, 90% 100%);
            clip-path: polygon(50% 0%, 10% 100%, 90% 100%);
}

.nose-shade {
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--nose-shade-color);
    -webkit-clip-path: polygon(50% 0, 100% 100%, 50% 100%);
            clip-path: polygon(50% 0, 100% 100%, 50% 100%);
}
/* eyes styling */
.move-area {
    position: absolute;
    top: 30%;
    width: 100%;
    height: var(--eye-container-height);
}
.eye-l {
    position: absolute;
    top: var(--eye-top);
    left: 18%;
    width: 12%;
    height: var(--eye-height);
    background: var(--eye-color);
    border-radius: 50%;
    transform-origin: center;
    transform: scale(var(--eye-scale));
}

.eye-r {
    position: absolute;
    top: var(--eye-top);
    right: 18%;
    width: 12%;
    height: var(--eye-height);
    background: var(--eye-color);
    border-radius: 50%;
    transform-origin: center;
    transform: scale(var(--eye-scale));
}
/* eye brows styling */
.eye-brow-l {
    position: absolute;
    left: 12%;
    top: 26%;
    width: 27%;
    height: 8.5%;
    border-radius: 10%;
    background: var(--eye-brow-color);
}

.eye-brow-r {
    position: absolute;
    right: 12%;
    top: 26%;
    width: 27%;
    height: 8.5%;
    border-radius: 10%;
    background: var(--eye-brow-color);
}
/* blush styling */
.blush-l {
    display: var(--blush);
    position: absolute;
    left: 8%;
    bottom: 31%;
    width: 28%;
    height: 16%;
    background: var(--blush-color);
    border-radius: 50%;
    transform: scale(1);
}

.blush-r {
    display: var(--blush);
    position: absolute;
    right: 8%;
    bottom: 31%;
    width: 28%;
    height: 16%;
    background: var(--blush-color);
    border-radius: 50%;
    transform: scale(1);
}
/* mouth styling */
.mouth {
    position: absolute;
    left: 37.5%;
    bottom: 18%;
    width: 25%;
    height: 5%;
    border-bottom: 0.5rem solid var(--mouth-color);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}


/* hair styling */
.hair-back {
    display: var(--hair);
    position: absolute;
    left: -15%;
    top: -19%;
    width: 130%;
    height: 85%;
    background: var(--hair-color);
   -webkit-clip-path: polygon(48% 19%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
           clip-path: polygon(48% 19%, 90% 20%, 100% 60%, 75% 100%, 25% 100%, 0% 60%, 10% 20%);
}

.hair-front {
    display: var(--hair-front);
    position: absolute;
    left: 2%;
    top: -20%;
    width: 110%;
    height: 40%;
    background: var(--hair-color);
    border-top-left-radius: 40%;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 30%;
}

@media screen and (max-width: 600px) {
    main {
        flex-direction: column;
    }
    .container {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 450px) {
    html {
        font-size: 8px;
    }

    .container {
        width: 375px;
        height: 375px;
    }
}