* {
  box-sizing: border-box;
}

body {
  background: #121212;  
}

.box {
  position: relative;
  width: 500px;
  height: 600px;
  margin: auto;
  margin-top: 15%;
  display: block;
  padding: 40px;
  background: #252525;
  color: #FDFDFD;
  font-family: 'Source Sans Pro', sans-serif;
}

.day {
  position: absolute;
  left: 10%;
  width: 30%;
  height: 30%;
  font-size: 8rem;
}

.detail {
  position: absolute;
  right: 10%;
  height: 30%;
}

#month {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 2rem;
  font-weight: 300;
}

#year {
  position: absolute;
  right: 10%;
  top: 15%;
  font-size: 3rem;
  font-weight: 400;
  color: #F9EF71;
}

.calendar {
  position: absolute;
  top: 40%;
  width: 80%;
  height: 50%;
}

table {
  width: 100%;
  height: 100%;
}

th, td {
  position: relative;
  width: 14.285714286%;
  height: 16.666666667%;
  text-align: center;
  transition: all 0.3s;
  border-radius: 10px;
}

td:hover {
  cursor: pointer;
  background: #111111;
}

.active {
  position: absolute;
  top: 25%;
  width: 12%;
  height: 15%;
  background: #F9EF71;
  border-radius: 50%;
}
