/*
    colors
    red: #ED555F
    dark-blue: #52B4C3
    pink: #EC6392
    purple: #B94C7D
    blue: #54C3F3
    yellow: #FED15C

 */

 :root {
     --red: #ED555F;
     --dark-blue: #52B4C3;
     --pink: #EC6392;
     --purple: #B94C7D;
     --blue: #54C3F3;
     --yellow: #FED15C;
     --color: #222;

     /* Boxes */
     --box-1: var(--red);
     --box-2: var(--dark-blue);
     --box-3: var(--pink);
     --box-4: var(--purple);
     --box-5: var(--blue);
     --box-6: var(--red);
     --box-7: var(--dark-blue);
     --box-8: var(--yellow);

     /* slider */
     --slider: 0;
 }

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--color)
}

.slider {
  position: absolute;
  display: block;
  top: 50px;
  left: 45%;
  right: 45%;
  text-align: center;
  font-size: 16px;
}

.box {
    position: relative;
    background: none;
    width: 557px;
    height: 466px;
    margin: auto;
    margin-top: 10%;
    display: block;
    -webkit-transform: perspective(500px) rotateY(calc(var(--slider) * 1deg));
            transform: perspective(500px) rotateY(calc(var(--slider) * 1deg));
}

/*
  width: 131.99px
  height: 131.95px
 */

.cubes {
    position: absolute;
    width: 23.6965889%;
    height: 28.3154506%;
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: var(--color);
}

.red-top {
  top: 6%;
  left: 21.4%;
  --color: var(--box-1);
  -webkit-box-shadow: -2px -2px 5px #ccc;
          box-shadow: -2px -2px 5px #ccc;
}

.dark-blue-top {
  top: 6%;
  right: 21.4%;
  --color: var(--box-2);
  -webkit-box-shadow: -2px -2px 5px #ccc;
          box-shadow: -2px -2px 5px #ccc;
}

.pink-mid {
  top: 25.9%;
  left: 4.8%;
  --color: var(--box-3);
  -webkit-box-shadow: -2px 2px 5px #ccc;
          box-shadow: -2px 2px 5px #ccc;
}

.purple-mid {
  top: 25.9%;
  left: 38%;
  --color: var(--box-4);
}

.blue-mid {
  top: 25.9%;
  right: 4.8%;
  --color: var(--box-5);
  -webkit-box-shadow: 2px -2px 5px #ccc;
          box-shadow: 2px -2px 5px #ccc;
}

.red-mid {
  top: 45.5%;
  left: 21.4%;
  --color: var(--box-6);
  -webkit-box-shadow: 2px 2px 5px #ccc;
          box-shadow: 2px 2px 5px #ccc;
}

.dark-blue-mid {
  top: 45.5%;
  right: 21.4%;
  --color: var(--box-7);
  -webkit-box-shadow: 2px 2px 5px #ccc;
          box-shadow: 2px 2px 5px #ccc;
}

.yellow-bottom {
  bottom: 6.5%;
  left: 37.89%;
  --color: var(--box-8);
  -webkit-box-shadow: 2px 2px 5px #ccc;
          box-shadow: 2px 2px 5px #ccc;
}

input[type="text"] {
  position: absolute;
  top: 35%;
  display: block;
  width: 80%;
  height: 30px;
  margin: auto;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background: none;
  border: none;
  border-bottom: 1px solid rgba(200, 200, 200, 0.2);
  outline: none;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  text-align: center;
}

.instructions {
  position: absolute;
  bottom: 80px;
  left: 40%;
  right: 40%;
  text-align: center;
}

footer {
  clear: both;
  position: absolute;
  bottom: 2%;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 12px;
  color: var(--dark-blue);
}

.footer-links a {
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: var(--dark-blue);
}

.footer-links a:hover {
  color: var(--yellow);
  font-weight: 400;
}
