html {
  /*background:#018DED url(http://unsplash.it/1500/1000?image=881&blur=50);*/
  /*background-size:cover;*/
  background-color: #EDEDED;
  font-family:'helvetica neue';
  text-align: center;
  font-size: 10px;
}

body {
  margin: 0;
  font-size: 2rem;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clock {
  width: 30rem;
  height: 30rem;
  border:20px solid #eaeaea;
  border-radius:50%;
  margin:50px auto;
  position: relative;
  padding:2rem;
  /*box-shadow:
    0 0 0 3px rgba(0,0,0,0.1),
    inset 0 0 0 3px #eaeaea,
    inset 0 0 10px black,
    0 0 10px rgba(0,0,0,0.2);*/
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px); /* account for the height of the clock hands */
}

.hand {
  width:50%;
  height:6px;
  background:#3F51B5;
  position: absolute;
  top:50%;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: all 0.05s;
  transition: all 0.05s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.44, 0.3, 1.03);
          transition-timing-function: cubic-bezier(0, 0.44, 0.3, 1.03);

}

.circle {
  z-index: 5;
  position: absolute;
  top: 48.5%;
  left: 48.3%;
  background: #FF4081;
  width: 3.5%;
  height: 3.5%;
  border-radius:50%;
}

.hour-hand {
  z-index: 2;
  width:35%;
  height:4px;
  left: 15%;
}

.second-hand {
  z-index: 4;
  top: 50%;
  left: -4%;
  -webkit-transform-origin: 90%;
          transform-origin: 90%;
  width: 60%;
  height:2.5px;
  background: #FF4081;
}

.min-hand {
  z-index: 3;
  height:4px;
}

.dash {
  position: absolute;
  width: 1.5px;
  height: 5.7%;
  /*background: #eaeaea;*/
  background: #FF4081;
  background:#3F51B5;
}

.twelve {
  left: 50%;
  top: -2%;
}

.six {
  left: 50%;
  bottom: -6%;
}

.three {
  top: 50%;
  left: -2%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.nine {
  top: 50%;
  right: -2%;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.one {
  left: 75%;
  top: 5%;
  height: 5%;
  -webkit-transform: rotate(25.5deg);
          transform: rotate(25.5deg);
}

.eleven {
  right: 75%;
  top: 5%;
  height: 5%;
  -webkit-transform: rotate(-25.5deg);
          transform: rotate(-25.5deg);
}

.eight {
  top: 75%;
  left: 5%;
  height: 5%;
  -webkit-transform: rotate(55.5deg);
          transform: rotate(55.5deg);
}

.four {
  top: 75%;
  right: 3%;
  height: 5%;
  -webkit-transform: rotate(-55.5deg);
          transform: rotate(-55.5deg);
}

.two {
  left: 95%;
  top: 25%;
  height: 5%;
  -webkit-transform: rotate(55.5deg);
          transform: rotate(55.5deg);
}

.ten {
  right: 95%;
  top: 25%;
  height: 5%;
  -webkit-transform: rotate(-55.5deg);
          transform: rotate(-55.5deg);
}

.seven {
  top: 95%;
  left: 25%;
  height: 5%;
  -webkit-transform: rotate(25.5deg);
          transform: rotate(25.5deg);
}

.five {
  top: 95%;
  right: 25%;
  height: 5%;
  -webkit-transform: rotate(-25.5deg);
          transform: rotate(-25.5deg);
}

.date{
  position: absolute;
  top: 45.5%;
  left: 70%;
  width: 12%;
  height: 12%;
  background: #eaeaea;
  /*background: red;*/
  border-radius: 5%;
  text-align: center;
  vertical-align: middle;
  line-height: 35.75px;
  color: #FF4081;
}

/* FOOTER */
footer {
    width: 100%;
    position: absolute;
    z-index: 101;
    bottom: 0;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.85rem;
}

footer p {
    color: #3F51B5;
}

footer a {
    text-decoration: none;
    color: #3F51B5;

    -webkit-transition: all 0.5s; /* Safari */
    -webkit-transition: all 0.5;
    transition: all 0.5;
}


footer a:hover {
    color: rgba(227, 227, 227, 0.5);
    border-bottom: 1px solid rgba(227, 227, 227, 0.5);

    -webkit-transition: all 0.5s; /* Safari */
    -webkit-transition: all 0.5;
    transition: all 0.5;
}
