body {
  background: #DFE1F5;
}

.box {
  position: relative;
  margin: auto;
  display: block;
  margin-top: 20%;
  width: 640px;
  height: 537px;
  background: none;
}

.polaroid {
  position: absolute;
  top: 18%;
  left: 24.5%;
  width: 52.34375%;
  height: 64.6182495%;
  background: none;
}

.top-camera {
  position: absolute;
  width: 100%;
  height: 52.7377522%;
  background: #BD6B73;
  border-radius: 5px;
}

.top-camera-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #BD6B73;
  border-radius: 5px;
  z-index: 2;
}

.lense {
  position: absolute;
  top: 28%;
  left: 25.5%;
  width: 47%;
  height: 84%;
  border-radius: 50%;
  background: #FFFFFF;
  z-index: 4;
}

.inner-section {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #A30B37;
  transform: scale(0.7);
  z-index: 4;
}

.middle-section {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #BD6B73;
  transform: scale(0.5);
  z-index: 4;
}

.top-section {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #A30B37;
  transform: scale(0.25);
  z-index: 4;
}

.flash {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 17.2523962%;
  height: 26.2295082%;
  border-radius: 5px;
  background: #AF3E49;
  z-index: 4;
}

.flash-lense {
  position: absolute;
  top: 10.03703705%;
  left: 10.29166665%;
  width: 75.9259259%;
  height: 85.4166667%;
  border-radius: 50%;
  background: #A30B37;
}

.flair {
  position: absolute;
  top: 16.03703705%;
  left: 19.29166665%;
  width: 31.4814815%;
  height: 35.4166667%;
  border-radius: 50%;
  background: #F5F5F5;
}

.stripe-top {
  position: absolute;
  left: 15%;
  width: 20.1277955%;
  height: 100%;
  z-index: 2;
}

.dark-purple-top {
  position: absolute;
  width: 33.3333333%;
  height: 100%;
  background: #9A95B7;
}

.purple-top {
  position: absolute;
  left: 33.3333333%;
  width: 33.3333333%;
  height: 100%;
  background: #BBB6DF;
}

.light-purple-top {
  position: absolute;
  right: 1%;
  width: 33.3333333%;
  height: 100%;
  background: #D5D6F2;
}

.balance-left {
  position: absolute;
  bottom: -10%;
  left: 8%;
  width: 13.4185304%;
  height: 22.9508197%;
  border-radius: 50%;
  background: #A30B37;
  z-index: 4;
}

.balance-right {
  position: absolute;
  bottom: -10%;
  right: 8%;
  width: 13.4185304%;
  height: 22.9508197%;
  border-radius: 50%;
  background: #A30B37;
  z-index: 4;
}

.middle-camera {
  position: absolute;
  left: -3.5%;
  bottom: 22%;
  width: 107%;
  height: 25.870317%;
  background: #BD6B73;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  clip-path: polygon(3% 0, 97% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}

.stripe-bottom {
  position: absolute;
  left: 16%;
  width: 20.1277955%;
  height: 100%;
  z-index: 2;
  transform: skewX(-4deg);
}

.dark-purple-bottom {
  position: absolute;
  width: 33.3333333%;
  height: 100%;
  background: #9A95B7;
  clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
}

.purple-bottom {
  position: absolute;
  left: 27.3333333%;
  width: 37.3333333%;
  height: 100%;
  background: #BBB6DF;
  clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
}

.light-purple-bottom {
  position: absolute;
  right: 8%;
  width: 33.3333333%;
  height: 100%;
  background: #D5D6F2;
  clip-path: polygon(18% 0, 100% 0, 100% 100%, 0% 100%);
}

.bottom-camera {
  position: absolute;
  bottom: 0;
  left: -3.5%;
  width: 107%;
  height: 22.6138329%;
  background: #A30B37;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 2;
}

.photo-output {
  position: absolute;
  top: 31%;
  left: 12%;
  width: 76.27627634%;
  height: 38.6666667%;
  background: #860A2E;
}
