/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #2A3A4B;
  font-family: 'Quicksand', sans-serif;
}

/* CONTAINER */
.container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* PLANETS AND STARS*/
.sun {
  position: absolute;
  z-index: 1000;
  top: -1rem;
  left: -20rem;
  width: 35rem;
  height: 35rem;
  background-image: url("../img/Sun.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.info {
  position: absolute;
  top: -7.5rem;
  left: -2.5rem;
  width: 7rem;
  height: 7rem;
  padding: 10px;
  background-image: url("../img/Bubble-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-size: 0.435rem;
  color: #2A3A4B;

  display: none;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* Mercury */
.Mercury-orbit {
  position: absolute;
  top: -2rem;
  left: -20rem;
  /*left: 17rem;*/
  /*height: 150%;
  width: 60%;*/
  height: 40.5rem;
  width: 39.5rem;
  border-radius: 100%;
  border: 3px solid rgba(116,133,146, 0.2);
}

.Mercury {
  position: absolute;
  z-index: 900;
  top: 20.3rem;
  left: 19.6rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 100%;

  background-image: url("../img/Mercury.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-animation: Orbit0 4s linear infinite;
     -moz-animation: Orbit0 4s linear infinite;
       -o-animation: Orbit0 4s linear infinite;
          animation: Orbit0 4s linear infinite;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Mercury:hover #Mercury-info{
  display: block;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Mercury:hover{
  -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}

/* Venus */
.Venus-orbit {
  position: absolute;
  top: -3rem;
  left: -18rem;
  /*left: 17rem;*/
  /*height: 150%;
  width: 60%;*/
  height: 42.5rem;
  width: 40.5rem;
  border-radius: 100%;
  border: 3px solid rgba(116,133,146, 0.2);
}

.Venus {
  position: absolute;
  z-index: 800;
  top: 20.65rem;
  left: 19.6rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;

  background-image: url("../img/Venus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-animation: Orbit1 8s linear infinite;
     -moz-animation: Orbit1 8s linear infinite;
       -o-animation: Orbit1 8s linear infinite;
          animation: Orbit1 8s linear infinite;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Venus:hover #Venus-info{
    display: block;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.Venus:hover{
  -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}

/* Earth */
.Earth-orbit {
  position: absolute;
  top: -6rem;
  left: -16rem;
  /*left: 17rem;*/
  /*height: 150%;
  width: 60%;*/
  height: 45.5rem;
  width: 45.5rem;
  border-radius: 100%;
  border: 3px solid rgba(116,133,146, 0.2);
}

.moon-orbit {
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 100%;
  border: 3px solid rgba(116,133,146, 0.2);
}

.moon {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  top: 3rem;
  left: 3rem;
  background-image: url("../img/Moon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-animation: Orbit3 25s linear infinite;
     -moz-animation: Orbit3 25s linear infinite;
       -o-animation: Orbit3 25s linear infinite;
          animation: Orbit3 25s linear infinite;
}

.Earth {
  position: absolute;
  z-index: 800;
  top: 21rem;
  left: 21rem;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 100%;

  background-image: url("../img/Earth.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-animation: Orbit2 12s linear infinite;
     -moz-animation: Orbit2 12s linear infinite;
       -o-animation: Orbit2 12s linear infinite;
          animation: Orbit2 12s linear infinite;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#Earth-info {
  left: -0.25rem;
}

.Earth:hover #Earth-info{
    display: block;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.Earth:hover{
  -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}

/* Mars */
.Mars-orbit {
  position: absolute;
  top: -6.5rem;
  left: -15rem;
  /*left: 17rem;*/
  /*height: 150%;
  width: 60%;*/
  height: 48.5rem;
  width: 48.5rem;
  border-radius: 100%;
  border: 3px solid rgba(116,133,146, 0.2);
}

.Mars {
  position: absolute;
  z-index: 700;
  top: 23rem;
  left: 23rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;

  background-image: url("../img/Mars.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-animation: Orbit4 16s linear infinite;
     -moz-animation: Orbit4 16s linear infinite;
       -o-animation: Orbit4 16s linear infinite;
          animation: Orbit4 16s linear infinite;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Mars:hover #Mars-info{
    display: block;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.Mars:hover{
  -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}


/* Jupiter */
.Jupiter-orbit {
  position: absolute;
  top: -8.5rem;
  left: -15rem;
  /*left: 10rem;*/
  /*height: 150%;
  width: 60%;*/
  height: 56.5rem;
  width: 56.5rem;
  border-radius: 100%;
  border: 3px solid rgba(116,133,146, 0.2);
}

.Jupiter {
  position: absolute;
  z-index: 600;
  top: 20rem;
  left: 25rem;
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 100%;

  background-image: url("../img/Jupiter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  -webkit-animation: Orbit5 20s linear infinite;
     -moz-animation: Orbit5 20s linear infinite;
       -o-animation: Orbit5 20s linear infinite;
          animation: Orbit5 20s linear infinite;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Jupiter:hover #Jupiter-info{
    display: block;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#Jupiter-info {
  left: 2rem;
}
.Jupiter:hover{
  -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}

/* Saturn */
.Saturn-orbit {
  position: absolute;
  top: -10.5rem;
  left: -12rem;
  /*left: 5rem;*/
  /*height: 150%;
  width: 60%;*/
  height: 60.5rem;
  width: 60.5rem;
  border-radius: 100%;
  border: 3px solid rgba(116,133,146, 0.2);
}

.Saturn {
  position: absolute;
  z-index: 500;
  top: 27rem;
  left: 27rem;
  width: 8.5rem;
  height: 8.5rem;

  background-image: url("../img/Saturn.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  -webkit-animation: Orbit6 26s linear infinite;
     -moz-animation: Orbit6 26s linear infinite;
       -o-animation: Orbit6 26s linear infinite;
          animation: Orbit6 26s linear infinite;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Saturn:hover #Saturn-info{
    display: block;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#Saturn-info {
  left: 1rem;
}
.Saturn:hover{
  -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}

/* Uranus */
.Uranus-orbit {
  position: absolute;
  top: -11.5rem;
  left: -10rem;
  /*left: 3rem;*/
  /*height: 150%;
  width: 60%;*/
  height: 65.5rem;
  width: 65.5rem;
  border-radius: 100%;
  border: 3px solid rgba(116,133,146, 0.2);
}

.Uranus {
  position: absolute;
  z-index: 400;
  top: 27rem;
  left: 27rem;
  width: 5rem;
  height: 5rem;

  background-image: url("../img/Uranus.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  -webkit-animation: Orbit7 38s linear infinite;
     -moz-animation: Orbit7 38s linear infinite;
       -o-animation: Orbit7 38s linear infinite;
          animation: Orbit7 38s linear infinite;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Uranus:hover #Uranus-info{
    display: block;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#Uranus-info {
  left: 0.15rem;
}
.Uranus:hover{
  -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}


/* Neptune */
.Neptune-orbit {
  position: absolute;
  top: -14.5rem;
  left: -7rem;
  /*left: 3rem;*/
  /*height: 150%;
  width: 60%;*/
  height: 70.5rem;
  width: 70.5rem;
  border-radius: 100%;
  border: 3px solid rgba(116,133,146, 0.2);
}

.Neptune {
  position: absolute;
  z-index: 400;
  top: 27rem;
  left: 27rem;
  width: 7rem;
  height: 7rem;

  background-image: url("../img/Neptune.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  -webkit-animation: Orbit8 42s linear infinite;
     -moz-animation: Orbit8 42s linear infinite;
       -o-animation: Orbit8 42s linear infinite;
          animation: Orbit8 42s linear infinite;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Neptune:hover #Neptune-info{
    display: block;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

#Neptune-info {
  left: 0.15rem;
}
.Neptune:hover{
  -webkit-animation-play-state:paused;
    -moz-animation-play-state:paused;
    -o-animation-play-state:paused;
    animation-play-state:paused;
}



@keyframes Orbit0 {
  from { transform: rotate(0deg) translateX(19.1rem) rotate(0deg); }
  to { transform: rotate(360deg) translateX(19.1rem) rotate(-360deg); }
}

@keyframes Orbit1 {
  from { transform: rotate(0deg) translateX(20.3rem) rotate(0deg); }
  to { transform: rotate(360deg) translateX(20.3rem) rotate(-360deg); }
}

@keyframes Orbit2 {
  from { transform: rotate(0deg) translateX(21.5rem) rotate(0deg); }
  to { transform: rotate(360deg) translateX(21.5rem) rotate(-360deg); }
}

@keyframes Orbit3 {
  from { transform: rotate(0deg) translateX(3.5rem) rotate(0deg); }
  to { transform: rotate(360deg) translateX(3.5rem) rotate(-360deg); }
}

@keyframes Orbit4 {
  from { transform: rotate(0deg) translateX(24.25rem) rotate(0deg); }
  to { transform: rotate(360deg) translateX(24.25rem) rotate(-360deg); }
}

@keyframes Orbit5 {
  from { transform: rotate(0deg) translateX(26rem) rotate(0deg); }
  to { transform: rotate(360deg) translateX(26rem) rotate(-360deg); }
}

@keyframes Orbit6 {
  from { transform: rotate(0deg) translateX(28rem) rotate(0deg); }
  to { transform: rotate(360deg) translateX(28rem) rotate(-360deg); }
}

@keyframes Orbit7 {
  from { transform: rotate(0deg) translateX(36rem) rotate(0deg); }
  to { transform: rotate(360deg) translateX(36rem) rotate(-360deg); }
}

@keyframes Orbit8 {
  from { transform: rotate(0deg) translateX(40.5rem) rotate(0deg); }
  to { transform: rotate(360deg) translateX(40.5rem) rotate(-360deg); }
}

/* FOOTER */
footer {
    width: 100%;
    position: absolute;
    z-index: 101;
    bottom: 0;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.6rem;
}

footer p {
    color: 	rgba(116,133,146, 0.5);
}

footer a {
    text-decoration: none;
    color: 	rgba(116,133,146, 0.5);

    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5;
}


footer a:hover {
    color: #009587;
    border-bottom: 1px solid #009587;

    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5;
}
