/* GENERAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #2A3A4B;
  font-family: 'Quicksand', sans-serif;
}

/* CONTAINER */
.container {
  position: relative;
  width: 100%;
  height: 100%;
}

/* PLANETS AND STARS*/
.sun {
  position: absolute;
  z-index: 1000;
  top: 2.5rem;
  left: -15rem;
  width: 30rem;
  height: 30rem;
  background-image: url("../img/Sun.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.Mercury-orbit {
  position: absolute;
  top: -2rem;
  /*left: -18rem;*/
  left: 17rem;
  /*height: 150%;
  width: 60%;*/
  height: 40.5rem;
  width: 39.5rem;
  border-radius: 100%;
  border: 3px solid #748592;
}
.Mercury {
  position: absolute;
  top: 20.65rem;
  left: 19.6rem;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;

  background-image: url("../img/Mercury.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /*-webkit-animation: Orbit 8s linear infinite;
     -moz-animation: Orbit 8s linear infinite;
       -o-animation: Orbit 8s linear infinite;
          animation: Orbit 8s linear infinite;*/

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.info {
  position: absolute;
  top: -7.5rem;
  left: -2.5rem;
  width: 7rem;
  height: 7rem;
  padding: 10px;
  background-image: url("../img/Bubble-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  font-size: 0.435rem;
  color: #2A3A4B;

  display: none;

  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}


.Mercury:hover .info{
    display: block;

    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

@keyframes Orbit {
  from { transform: rotate(0deg) translateX(19.3rem) rotate(0deg); }
  to { transform: rotate(360deg) translateX(19.3rem) rotate(-360deg); }
}
