:root {
  --size: 0.6;
  --small-size: 0.2;
  --comit: 0.3;
}

* {
  box-sizing: border-box;
}

.box {
  position: relative;
  width: 500px;
  height: 600px;
  display: block;
  margin: auto;
  margin-top: 25%;
}

.pencil-1 {
  position: absolute;
  top: -25%;
  right: 30%;
  transform: rotate(15deg);
  width: 10%;
  height: 90%;
}

.pencil-2 {
  position: absolute;
  bottom: -45%;
  left: 30%;
  width: 10%;
  height: 90%;
  transform: rotate(100deg);
  z-index: 4;
}

.rubber {
  position: absolute;
  width: 100%;
  height: 10%;
  background: #FC5645;
  border-radius: 10px;
}

.outline {
  position: absolute;
  top: 8%;
  width: 100%;
  height: 5%;
  background: #666666;
}

.pencil-body {
  position: absolute;
  top: 13%;
  width: 100%;
  height: 80%;
  background: #E9B13A;
  z-index: 2;
}

.light-side {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #FDBD36;
}

.tip {
  position: absolute;
  bottom: -4.9%;
  width: 100%;
  height: 12%;
  background: #E9D0AF;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  z-index: 1;
}

.charcle {
  position: absolute;
  bottom: -4.9%;
  width: 100%;
  height: 30%;
  background: #666666;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  z-index: 1;
}

.jar-lid {
  position: absolute;
  left: 17.5%;
  width: 65%;
  height: 10%;
  background: #BDBDBD;
  border-radius: 10px;
  z-index: 3;
}

.shiny-1 {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 30%;
  height: 15%;
  background: #E7E7E7;
  border-radius: 10px;
}

.shiny-2 {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 30%;
  height: 15%;
  background: #E7E7E7;
  border-radius: 10px;
}

.shiny-3 {
  position: absolute;
  top: 50%;
  left: 11%;
  width: 45%;
  height: 15%;
  background: #E7E7E7;
  border-radius: 10px;
}

.shiny-4 {
  position: absolute;
  top: 65%;
  left: 20%;
  width: 25%;
  height: 15%;
  background: #E7E7E7;
  border-radius: 10px;
}

.jar {
  position: absolute;
  left: 12.5%;
  top: 10%;
  width: 75%;
  height: 90%;
  z-index: 3;
}

.top-jar {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 3%;
  background: #2C272B;
  border-radius: 50px;
}

.bottom-jar {
  position: absolute;
  top: 2%;
  left: 2.5%;
  width: 95%;
  height: 98%;
  overflow: hidden;
  background: #2C272B;
  border-radius: 60px;
}

.comet {
  position: absolute;
  top: 0%;
  left: -20%;
  width: 30%;
  height: 15%;
  z-index: 2;
  transform: scale(var(--comit));
  animation: comet 5s infinite;
  animation-delay: 2s;
}

.fire {
  position: absolute;
  width: 60%;
  height: 90%;
  background: #FE6982;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  transform: rotate(130deg);
  border-radius: 10px;
  z-index: 2;
}

.small-fire {
  position: absolute;
  top: 10%;
  left: 45%;
  width: 20%;
  height: 50%;
  background: #FE6982;
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
  transform: rotate(130deg);
  border-radius: 10px;
  z-index: 2;
}

.comet-body {
  position: absolute;
  top: 40%;
  right: 4%;
  width: 65%;
  height: 85%;
  background: #FE6982;
  transform: rotate(130deg);
  border-radius: 50%;
  z-index: 2;
}

.comet-lava {
  position: absolute;
  top: 40%;
  right: -1%;
  width: 65%;
  height: 85%;
  background: #FFD7E1;
  transform: rotate(130deg) scale(0.8);
  border-radius: 50%;
  z-index: 2;
}

.top-lava {
  position: absolute;
  top: 50%;
  right: -10%;
  width: 65%;
  height: 85%;
  background: #FFF7FF;
  transform: rotate(130deg) scale(0.5);
  border-radius: 50%;
  z-index: 2;
}

.green-planet {
  position: absolute;
  top: 10%;
  left: 15%;
  width: 20%;
  height: 13%;
  overflow: hidden;
  background: #27B6BB;
  border-radius: 50%;
}

.dark-green-stripe-1 {
  position: absolute;
  top: 15%;
  width: 100%;
  height: 13%;
  background: #168A89;
  border-radius: 10px;
}

.dark-green-stripe-2 {
  position: absolute;
  top: 28%;
  left: -4%;
  width: 50%;
  height: 13%;
  background: #168A89;
  border-radius: 10px;
}

.dark-green-stripe-3 {
  position: absolute;
  top: 42%;
  left: -4%;
  width: 70%;
  height: 13%;
  background: #168A89;
  border-radius: 10px;
}

.light-green-stripe-1 {
  position: absolute;
  top: 52%;
  right: -4%;
  width: 70%;
  height: 13%;
  background: #6CE7E6;
  border-radius: 10px;
}

.light-green-stripe-2 {
  position: absolute;
  top: 72%;
  left: 20%;
  width: 30%;
  height: 13%;
  background: #6CE7E6;
  border-radius: 10px;
}

.purple-planet {
  position: absolute;
  top: 25%;
  right: 10%;
  width: 30%;
  height: 20%;
  overflow: hidden;
  background: #AD95C5;
  border-radius: 50%;
}

.dark-purple-stripe-1 {
  position: absolute;
  top: 15%;
  width: 50%;
  height: 10%;
  background: #7B75B3;
  border-radius: 10px;
}

.dark-purple-stripe-2 {
  position: absolute;
  top: 25%;
  width: 65%;
  height: 10%;
  background: #7B75B3;
  border-radius: 10px;
}

.dark-purple-stripe-3 {
  position: absolute;
  right: -4%;
  top: 45%;
  width: 65%;
  height: 15%;
  background: #7B75B3;
  border-radius: 10px;
}

.dark-purple-stripe-4 {
  position: absolute;
  left: -4%;
  top: 55%;
  width: 65%;
  height: 15%;
  background: #7B75B3;
  border-radius: 10px;
}

.dark-purple-stripe-5 {
  position: absolute;
  left: -4%;
  bottom: 5%;
  width: 100%;
  height: 15%;
  background: #7B75B3;
  border-radius: 10px;
}

.light-purple-stripe-1 {
  position: absolute;
  top: 12%;
  right: -4%;
  width: 60%;
  height: 13%;
  background: #CEB6ED;
  border-radius: 10px;
}

.light-purple-stripe-2 {
  position: absolute;
  top: 52%;
  right: -4%;
  width: 70%;
  height: 13%;
  background: #CEB6ED;
  border-radius: 10px;
}

.light-purple-stripe-3 {
  position: absolute;
  top: 72%;
  left: 20%;
  width: 30%;
  height: 13%;
  background: #CEB6ED;
  border-radius: 10px;
}

.orange-planet {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: 52%;
  height: 35%;
  overflow: hidden;
  background: #FD8C25;
  border-radius: 50%;
}

.dark-orange-stripe-1 {
  position: absolute;
  top: 15%;
  width: 50%;
  height: 10%;
  background: #F56B30;
  border-radius: 10px;
}

.dark-orange-stripe-2 {
  position: absolute;
  top: 25%;
  width: 65%;
  height: 10%;
  background: #F56B30;
  border-radius: 10px;
}

.dark-orange-stripe-3 {
  position: absolute;
  right: -4%;
  top: 45%;
  width: 65%;
  height: 15%;
  background: #F56B30;
  border-radius: 10px;
}

.dark-orange-stripe-4 {
  position: absolute;
  left: -4%;
  top: 55%;
  width: 65%;
  height: 15%;
  background: #F56B30;
  border-radius: 10px;
}

.dark-orange-stripe-5 {
  position: absolute;
  left: -4%;
  bottom: 5%;
  width: 100%;
  height: 15%;
  background: #F56B30;
  border-radius: 10px;
}

.dark-orange-stripe-6 {
  position: absolute;
  left: -4%;
  top: 5%;
  width: 100%;
  height: 15%;
  background: #F56B30;
  border-radius: 10px;
}

.light-orange-stripe-1 {
  position: absolute;
  top: 12%;
  right: -4%;
  width: 60%;
  height: 13%;
  background: #FDBC4E;
  border-radius: 10px;
}

.light-orange-stripe-2 {
  position: absolute;
  top: 52%;
  right: -4%;
  width: 70%;
  height: 13%;
  background: #FDBC4E;
  border-radius: 10px;
}

.light-orange-stripe-3 {
  position: absolute;
  top: 72%;
  left: 20%;
  width: 30%;
  height: 13%;
  background: #FDBC4E;
  border-radius: 10px;
}

.light-orange-stripe-4 {
  position: absolute;
  top: 22%;
  left: -5%;
  width: 35%;
  height: 13%;
  background: #FDBC4E;
  border-radius: 10px;
}

.light-orange-stripe-5 {
  position: absolute;
  top: 32%;
  left: -5%;
  width: 25%;
  height: 13%;
  background: #FDBC4E;
  border-radius: 10px;
}

.light-orange-stripe-6 {
  position: absolute;
  top: 32%;
  right: -5%;
  width: 25%;
  height: 13%;
  background: #FDBC4E;
  border-radius: 10px;
}

.star-1 {
  position: absolute;
  top: 5%;
  left: 35%;
  width: 3%;
  height: 2.1%;
  --size: 0.3;
  --small-size: 0.2;
  transform: scale(var(--size));
  animation: shine 4s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-2 {
  position: absolute;
  top: 15%;
  left: 5%;
  width: 3%;
  height: 2.1%;
  --size: .6;
  --small-size: 0.4;
  transform: scale(var(--size));
  animation: shine 3s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-3 {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 3%;
  height: 2.1%;
  --size: .4;
  --small-size: 0.2;
  transform: scale(var(--size));
  animation: shine 5s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-4 {
  position: absolute;
  top: 10%;
  right: 30%;
  width: 3%;
  height: 2.1%;
  --size: .4;
  --small-size: 0.3;
  transform: scale(var(--size));
  animation: shine 2s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-5 {
  position: absolute;
  top: 15%;
  right: 15%;
  width: 3%;
  height: 2.1%;
  --size: .3;
  --small-size: 0.2;
  transform: scale(var(--size));
  animation: shine 1s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-6 {
  position: absolute;
  top: 50%;
  right: 15%;
  width: 3%;
  height: 2.1%;
  --size: .6;
  --small-size: 0.4;
  transform: scale(var(--size));
  animation: shine 3s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-7 {
  position: absolute;
  top: 50%;
  left: 15%;
  width: 3%;
  height: 2.1%;
  --size: .6;
  --small-size: 0.4;
  transform: scale(var(--size));
  animation: shine 4s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-8 {
  position: absolute;
  top: 40%;
  left: 25%;
  width: 3%;
  height: 2.1%;
  --size: .4;
  --small-size: 0.2;
  transform: scale(var(--size));
  animation: shine 5s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-9 {
  position: absolute;
  top: 30%;
  left: 15%;
  width: 3%;
  height: 2.1%;
  --size: .2;
  --small-size: 0.1;
  transform: scale(var(--size));
  animation: shine 1s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-10 {
  position: absolute;
  top: 40%;
  left: 45%;
  width: 3%;
  height: 2.1%;
  --size: .4;
  --small-size: 0.2;
  transform: scale(var(--size));
  animation: shine 4s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-11 {
  position: absolute;
  top: 60%;
  left: 65%;
  width: 3%;
  height: 2.1%;
  --size: .5;
  --small-size: 0.3;
  transform: scale(var(--size));
  animation: shine 2s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-12 {
  position: absolute;
  top: 70%;
  left: 80%;
  width: 3%;
  height: 2.1%;
  --size: .3;
  --small-size: 0.2;
  transform: scale(var(--size));
  animation: shine 1s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-13 {
  position: absolute;
  bottom: 10%;
  left: 80%;
  width: 3%;
  height: 2.1%;
  --size: .6;
  --small-size: 0.4;
  transform: scale(var(--size));
  animation: shine 4s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-14 {
  position: absolute;
  bottom: 12%;
  left: 60%;
  width: 3%;
  height: 2.1%;
  --size: .3;
  --small-size: 0.2;
  transform: scale(var(--size));
  animation: shine 3s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-15 {
  position: absolute;
  bottom: 20%;
  left: 70%;
  width: 3%;
  height: 2.1%;
  --size: .5;
  --small-size: 0.3;
  transform: scale(var(--size));
  animation: shine 2s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-16 {
  position: absolute;
  top: 30%;
  left: 40%;
  width: 3%;
  height: 2.1%;
  --size: .5;
  --small-size: 0.3;
  transform: scale(var(--size));
  animation: shine 4s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

.star-17 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3%;
  height: 2.1%;
  --size: .2;
  --small-size: 0.1;
  transform: scale(var(--size));
  animation: shine 2s infinite;
  background: #FFFFFF;
  border-radius: 50%;
}

@keyframes shine {
  0% {
    transform: scale(var(--size));
  }
  50% {
    transform: scale(var(--small-size));
  }
  100% {
    transform: scale(var(--size));
  }
}
@keyframes comet {
  0% {
    top: 0%;
    left: -20%;
    transform: scale(0.2);
  }
  100% {
    top: 100%;
    left: 100%;
    transform: scale(0.6);
  }
}
