* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background: #4798D2;
}

.circle {
    position: absolute;
    width: 10px;
    height: 10px;
    transform-origin: center;
    background-color: white;
    border-radius: 50%;
}

.box {
    position: relative;
    width: 500px;
    height: 500px;
    background: none;
    display: block;
    margin: 12% auto 0;
    z-index: 2;
}

.star {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ffffff;
    transform-origin: center;
}