* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  /*background: #56CCF2;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2); */
  overflow: hidden;
}

h1 {
  background-color: #FCCB3F;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 400;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 100;
}

li {
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  color: #666;
  font-weight: 100;
}

li:nth-child(2n){
  background-color: #f7f7f7;
}

input[type="text"]{
  font-size: 18px;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  color: #FCCB3F;
  border: 3px solid rgba(0,0,0,0);
  font-weight: 100;

  transition: all 0.5s;
}

input[type="text"]:focus {
  background: #fff;
  border: 3px solid #FCCB3F;;
  outline: none;
}

li span {
  background-color: #e74c3c;
  background-color: #333;
  color: #fff;
  width: 0;
  height: 40px;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
  opacity: 0;
  transition: all 0.5s;
}

li:hover span{
  opacity: 1;
  width: 40px;
}

.container {
  width: 360px;
  margin: 100px auto;
  background-color: #f7f7f7;
  font-weight: 100;
  box-shadow: 0 0 3px rgba(0,0,0,0.1);
}

.completed {
  color: gray;
  text-decoration: line-through;
}

.fa-plus {
  float: right;
  font-weight: 100;
  transition: all 0.5s;
}

.fa-plus:hover {
  color: #333;
}

span.black {
  color: #333;
  opacity: 1;
  width: 40px;
}


/* FOOTER */
footer {
    width: 100%;
    position: absolute;
    z-index: 101;
    bottom: 0;
    text-align: center;
    margin-bottom: 10px;
    font-size: 0.6rem;
}

footer p {
    color: #666;
}

footer a {
    text-decoration: none;
    color: #666;

    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5;
}


footer a:hover {
    color: #f7f7f7;
    border-bottom: 1px solid #f7f7f7;

    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5;
}
